@model SampleApp.Model.User

@{
    ViewBag.Title = "Create";
    Layout = "_Layout";
}

<h2>Create</h2>
@using (Html.BeginForm("Create", "Home", FormMethod.Post))
{
    <p>
        @Html.LabelFor(u => u.Name, "Имя")
        @Html.TextBoxFor(u=> u.Name)
    </p>
    <p>
        @Html.LabelFor(u => u.Age, "Вoзраст")
        @Html.TextBoxFor(u => u.Age, "", new {type = "number"})
    </p>
    <p>
        <input type="submit" value="Отправить" />
    </p>
}