@using SampleApp.App_Code

@model IEnumerable<EntitiesLib.Models.Phone>
@{
    ViewData["Title"] = "Home Page";
}

@{
    string[] cities = { "Лондон", "Париж", "Берлин" };
    string[] countries = { "Великобритания", "Франция", "Германия" };
}

<h3>Города</h3>
@Html.CreateListWithTagBuilder(cities)
<br />
<h3>Страны</h3>
@Html.CreateList(countries)