<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/bootstrap-reboot.min.css"/>
    <link rel="stylesheet" href="~/css/bootstrap-grid.min.css"/>
    <link rel="stylesheet" href="~/css/bootstrap.min.css"/>
</head>
<body>
<!--меню-->
<nav class="navbar navbar-inverse">
    <div class="container">
        <div>
            <ul class="nav navbar-nav">
                <li>
                    <a href="~/Home/Index">Главная</a>
                </li>
                <li>
                    <a href="~/Account/Login">Войти</a>
                </li>
                <li>
                    <a href="~/Account/Logout">Выйти</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!--основной контент-->
<div class="container body-content">
    @RenderBody()
    <hr/>
    <footer>
        @if (IsSectionDefined("Footer"))
        {
            <p>@RenderSection("Footer")</p>
        }
        else
        {
            <span>Содержание элемента footer по умолчанию.</span>
        }
    </footer>
</div>
<script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
        asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
        asp-fallback-test="window.jQuery"
        crossorigin="anonymous"
        integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk"
        asp-append-version="true">
</script>
@RenderSection("scripts", false)
</body>
</html>